numpy
scipy
pandas
matplotlib
seaborn
scikit-learn
torch
mne
networkx
plotly
imageio
tqdm
kaleido
openpyxl
streamlit
pywt
umap-learn
ripser
persim
h5py
antropy
pylsl
shap
xgboost
lightgbm
pydub
pydub[ffmpeg]
playsound
